<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BTIONARY</title>
</head>
<body>
  <h1>Welcome to the B-tionary!</h1>

  Someone eyeee know has a unique way of speakiling! 

  Find the latest BEE-ning of a WORDS!
  

 <h2> Definition</h2>

 <ul class="quotes">
   <% for(var i = 0; i < entries.length; i++) {%>
     <li class="definition">
       <span><%= entries[i].word %></span>:
       <span><%= entries[i].definition %></span>
        <span><%= entries[i].use %></span>
     </li>
   <% } %>
 </ul>



  Or add your own:
  <form action="/entries" method="POST">
    <p><input type="word" placeholder="word" name="word"></p>
    <p><input type="definition" placeholder="definition" name="definition"></p>
    <p><input type="use" placeholder="use" name="use"></p>
    <button type="submit">Sends It Ups!</button>
  </form>

</body>
</html>