.emphasis {
    font-style: italic;
  }

.intro {
    text-align: center;
    background-color: lightblue;
    border: 3px solid darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.definition {
    text-align: center;
    background-color: pink;
    border: 3px solid palevioletred;
    font-family: "Times New Roman", Times, serif;
}

#small {
    font-size: 11px;
}

.entryform {
    text-align: center;
    border: 3px solid gray;
    background-color: #ffffbf;
    font-family: Arial, Helvetica, sans-serif;
}

#txtbox {
    width: 200px; height: 50px
}

#use {
    width: 200px; 
}

#word {
    width: 200px; 
}

.complete {
    display: none;
}

.secret {
    text-align: right;
}

#button {
    color: white;
    background-color: white;
    border: 2px solid #E8E8E8;
}


input, textarea {font-family: Arial; color: #333;}

textarea::placeholder {font-family: Arial; color: #333;}
input::placeholder {font-family: Arial; color: #333;}